@charset "UTF-8";

/**
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */

html *,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* モバイルフォント */
html {
	font-size: 14px;
}

/* PCフォント */
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: white;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
}

/* 標準的なリンクのテキスト色 */
a {
	color: #fcf8e3;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

/**
 * ***************************************
 * ヘッダー
 * ***************************************
 */

header {
	background-color: #1f2445;
}

.header-content {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}

.title {
	display: flex;
	justify-content: left;
	align-items: center;
}

.title h1 {
	margin: 10px;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

/**
 * ***************************************
 * サブメイン
 * ***************************************
 */
.sub_main {
	height: 60px;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.display {
	margin: 10px;
}

.start {
	font-size: 24px;
}

.message {
	font-size: 24px;
}

.blue {
	color: #3498db;
	font-weight: bold;
}

.red {
	color: #e74c3c;
	font-weight: bold;
}

/**
 * ***************************************
 * メイン
 * ***************************************
 */

.main {
	width: 100%;
	max-width: 700px;
	margin: 0 auto 200px;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* 垂直方向の中央揃え */
}

.board {
	width: calc(3 * 100px + 2 * 5px);
	/* グリッドの幅を計算: カラム数 * 幅 + ギャップ数 * ギャップサイズ */
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	gap: 5px;
}


.cell {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	border: 1px solid #000;
}

.btn {
	width: 100px;
	height: 100px;
	border-radius: 0px;
	background: transparent;
}

.mark {
	font-size: 70px;
	font-weight: bold;
	color: #333;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.mark:contains('〇') {
	color: #3498db;
}

.mark:contains('✕') {
	color: #e74c3c;
}

.sr_btn {
	text-align: center;
	margin: 10px;
	display: flex;
	justify-content: center;
	gap: 10px;
	/* ボタン間の間隔 */
}

.circle_btn,
.cross_btn,
.s_btn {
	width: 60px;
	height: 60px;
	font-weight: bold;
	font-size: 32px;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.3s ease;
	/* なめらかなアニメーション */
}

.circle_btn {
	color: #3498db;
	border-color: #3498db;
}

.cross_btn {
	color: #e74c3c;
	border-color: #e74c3c;
}

.s_btn {
	width: 160px;
	font-size: 16px;
	background-color: #1f2445;
	color: white;
	border: 2px solid #1f2445;
}



.r_btn {
	width: 80px;
	height: 40px;
	margin-bottom: 10px;
	font-weight: bold;
}

.circle-style {
	color: #3498db;
}

.cross-style {
	color: #e74c3c;
}

/**
 * ***************************************
 * テーブル
 * ***************************************
 */
table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

th,
td {
	border: 1px solid black;
	padding: 10px;
}

th {
	background-color: #f4f4f4;
}

th.first {
	color: #3498db;
}

th.second {
	color: #e74c3c;
}

.explanation {
	border: 2px solid #cccccc;
}

.explanation p {
	padding: 6px;
}
/**
 * ***************************************
 * フッター
 * ***************************************
 */

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
	background-color: #1f2445;
}

/* PCラストタブ*/
@media (min-width: 768px) {

	/*©*/
	.copy {
		text-align: center;
		padding: 15px 5px;
		color: #ffffff;
	}
}